.home-page {
  width: 100%;
  height: 100%;
}
.home-page span {
  color: rgb(255, 0, 0);
}
.home-page h4:hover {
  background-color: rgb(63, 63, 200);
  border-radius: 10px;
  color: #fff;
}

.stars {
  width: 2px;
  height: 2px;
  box-shadow: 22px 997px rgba(165, 190, 195, 0.1),
    1123px 123px rgba(184, 174, 131, 0.3), 100px 1985px rgba(184, 174, 131, 0.5),
    1522px 1965px rgba(184, 174, 131, 0.7),
    1555px 311px rgba(184, 174, 131, 0.2), 827px 1653px rgba(184, 174, 131, 0.3),
    1321px 557px rgba(184, 174, 131, 0.8), 142px 1816px rgba(184, 174, 131, 0.6),
    1439px 551px rgba(184, 174, 131, 0.1),
    1161px 1988px rgba(184, 174, 131, 0.9), 897px 588px rgba(184, 174, 131, 0.2),
    78px 1821px rgba(184, 174, 131, 0.4), 1206px 115px rgba(184, 174, 131, 0.3),
    1416px 821px rgba(184, 174, 131, 0.3),
    1544px 1394px rgba(184, 174, 131, 0.4), 791px 769px rgba(184, 174, 131, 1),
    851px 1855px rgba(184, 174, 131, 0.6), 1887px 254px rgba(184, 174, 131, 0.8),
    1148px 1800px rgba(184, 174, 131, 0.9), 1473px 1230px rgba(184, 174, 131, 1),
    676px 863px rgba(184, 174, 131, 0.2), 37px 1561px rgba(184, 174, 131, 0.1),
    1824px 775px rgba(184, 174, 131, 0.3), 1553px 779px rgba(184, 174, 131, 0.7),
    1365px 53px rgba(184, 174, 131, 0.5), 1508px 590px rgba(184, 174, 131, 0.2),
    595px 1816px rgba(184, 174, 131, 0.5),
    1662px 1168px rgba(184, 174, 131, 0.5),
    510px 1388px rgba(184, 174, 131, 0.3), 1688px 84px rgba(184, 174, 131, 0.1),
    858px 713px rgba(184, 174, 131, 0.2), 141px 1579px rgba(184, 174, 131, 0.6),
    533px 429px rgba(184, 174, 131, 0.2), 353px 817px rgba(184, 174, 131, 0.6),
    1096px 1880px rgba(184, 174, 131, 0.9), 242px 520px rgba(184, 174, 131, 0.9),
    1231px 787px rgba(184, 174, 131, 0.5), 917px 982px rgba(184, 174, 131, 0.6),
    1453px 1816px rgba(184, 174, 131, 0.1),
    1336px 1517px rgba(184, 174, 131, 0.8), 417px 939px rgba(184, 174, 131, 0.9),
    375px 18px rgba(184, 174, 131, 0.5), 122px 907px rgba(184, 174, 131, 0.9),
    728px 988px rgba(184, 174, 131, 0.7), 1028px 160px rgba(184, 174, 131, 0.7),
    1268px 1540px rgba(184, 174, 131, 0.3),
    1477px 220px rgba(184, 174, 131, 0.9), 864px 1192px rgba(184, 174, 131, 0.3),
    1427px 1131px rgba(184, 174, 131, 0.9),
    169px 1820px rgba(184, 174, 131, 0.8), 689px 1127px rgba(184, 174, 131, 0.9),
    792px 1033px rgba(184, 174, 131, 0.9), 609px 1329px rgba(184, 174, 131, 0.9),
    165px 170px rgba(184, 174, 131, 0.3), 67px 481px rgba(184, 174, 131, 0.4),
    1929px 1260px rgba(184, 174, 131, 0.4),
    147px 1349px rgba(184, 174, 131, 0.7), 141px 1686px rgba(184, 174, 131, 0.9),
    429px 368px rgba(184, 174, 131, 0.9), 293px 905px rgba(184, 174, 131, 0.2),
    22px 1740px rgba(184, 174, 131, 0.2), 1501px 946px rgba(184, 174, 131, 0.8),
    147px 256px rgba(184, 174, 131, 0.2), 1369px 58px rgba(184, 174, 131, 0.2),
    1985px 379px rgba(184, 174, 131, 0.6), 169px 957px rgba(184, 174, 131, 1),
    626px 439px rgba(184, 174, 131, 0.4), 101px 1725px rgba(184, 174, 131, 0.2),
    1108px 478px rgba(184, 174, 131, 0.7), 711px 1818px rgba(184, 174, 131, 0.3),
    187px 587px rgba(184, 174, 131, 0.7), 912px 745px rgba(184, 174, 131, 1),
    884px 984px rgba(184, 174, 131, 0.9), 1803px 835px rgba(184, 174, 131, 0.4),
    1893px 188px rgba(184, 174, 131, 0.1),
    1039px 1523px rgba(184, 174, 131, 0.4),
    1967px 949px rgba(184, 174, 131, 0.1), 71px 1626px rgba(184, 174, 131, 0.9),
    1470px 1839px rgba(184, 174, 131, 0.8),
    818px 1798px rgba(184, 174, 131, 0.9), 1785px 784px rgba(184, 174, 131, 0.9),
    1449px 866px rgba(184, 174, 131, 0.6),
    1984px 1340px rgba(184, 174, 131, 0.8), 154px 430px rgba(184, 174, 131, 0.3),
    186px 1447px rgba(184, 174, 131, 0.8),
    1419px 1633px rgba(184, 174, 131, 0.5),
    1498px 1905px rgba(184, 174, 131, 0.7),
    1642px 709px rgba(184, 174, 131, 0.4), 1931px 1px rgba(184, 174, 131, 0.3),
    1102px 754px rgba(184, 174, 131, 1), 946px 1294px rgba(184, 174, 131, 0.2),
    136px 48px rgba(184, 174, 131, 0.1), 579px 946px rgba(184, 174, 131, 0.9),
    1607px 1268px rgba(184, 174, 131, 0.8),
    1817px 1047px rgba(184, 174, 131, 0.2),
    1780px 210px rgba(184, 174, 131, 0.4),
    1136px 1964px rgba(184, 174, 131, 0.6),
    661px 1785px rgba(184, 174, 131, 0.3), 1890px 232px rgba(184, 174, 131, 0.8),
    19px 1655px rgba(184, 174, 131, 0.4), 1054px 1790px rgba(184, 174, 131, 0.8),
    1391px 1433px rgba(184, 174, 131, 1), 1615px 1750px rgba(184, 174, 131, 0.7),
    275px 1875px rgba(184, 174, 131, 0.8), 1053px 305px rgba(184, 174, 131, 0.1),
    515px 924px rgba(184, 174, 131, 0.6), 579px 747px rgba(184, 174, 131, 0.1),
    1206px 1783px rgba(184, 174, 131, 0.2), 433px 575px rgba(184, 174, 131, 0.1),
    1917px 926px rgba(184, 174, 131, 0.1), 1072px 270px rgba(184, 174, 131, 0.5),
    1693px 1259px rgba(184, 174, 131, 0.5), 648px 1791px rgba(184, 174, 131, 1),
    1690px 745px rgba(184, 174, 131, 0.4), 1071px 236px rgba(184, 174, 131, 0.1),
    716px 1013px rgba(184, 174, 131, 0.7),
    1938px 1840px rgba(184, 174, 131, 0.7),
    1568px 777px rgba(184, 174, 131, 0.3), 3px 1536px rgba(184, 174, 131, 0.1),
    775px 1972px rgba(184, 174, 131, 0.5), 640px 1520px rgba(184, 174, 131, 0.6),
    1217px 1811px rgba(184, 174, 131, 0.1),
    1441px 868px rgba(184, 174, 131, 0.9), 394px 207px rgba(184, 174, 131, 0.3),
    1893px 412px rgba(184, 174, 131, 0.8), 629px 471px rgba(184, 174, 131, 0.5),
    1930px 480px rgba(184, 174, 131, 0.6), 962px 1012px rgba(184, 174, 131, 0.4),
    191px 1484px rgba(184, 174, 131, 0.1), 1660px 431px rgba(184, 174, 131, 0.3),
    1243px 1299px rgba(184, 174, 131, 1), 61px 1567px rgba(184, 174, 131, 0.9),
    692px 889px rgba(184, 174, 131, 0.2), 1046px 1880px rgba(184, 174, 131, 0.8),
    666px 261px rgba(184, 174, 131, 0.7), 809px 477px rgba(184, 174, 131, 0.7),
    894px 465px rgba(184, 174, 131, 0.1), 250px 674px rgba(184, 174, 131, 0.5),
    880px 1093px rgba(184, 174, 131, 0.8), 360px 1854px rgba(184, 174, 131, 1),
    1543px 1577px rgba(184, 174, 131, 0.5),
    1936px 1036px rgba(184, 174, 131, 0.5), 1791px 856px rgba(184, 174, 131, 1),
    699px 507px rgba(184, 174, 131, 1), 1200px 1975px rgba(184, 174, 131, 0.8),
    1116px 909px rgba(184, 174, 131, 0.7), 304px 1488px rgba(184, 174, 131, 0.2),
    399px 626px rgba(184, 174, 131, 0.3), 1858px 1296px rgba(184, 174, 131, 0.4),
    882px 229px rgba(184, 174, 131, 0.5), 1657px 974px rgba(184, 174, 131, 0.6),
    1023px 1393px rgba(184, 174, 131, 0.2),
    700px 1365px rgba(184, 174, 131, 0.4), 63px 380px rgba(184, 174, 131, 0.1),
    449px 855px rgba(184, 174, 131, 0.4), 385px 1713px rgba(184, 174, 131, 0.5),
    1161px 969px rgba(184, 174, 131, 0.9), 1803px 316px rgba(184, 174, 131, 0.5),
    1974px 1850px rgba(184, 174, 131, 0.6), 829px 599px rgba(184, 174, 131, 0.4),
    273px 66px rgba(184, 174, 131, 0.3), 1252px 1148px rgba(184, 174, 131, 0.9),
    899px 108px rgba(184, 174, 131, 0.5), 541px 1815px rgba(184, 174, 131, 1),
    952px 1767px rgba(184, 174, 131, 0.8), 1175px 217px rgba(184, 174, 131, 1),
    117px 1087px rgba(184, 174, 131, 0.8), 1872px 400px rgba(184, 174, 131, 0.2),
    436px 217px rgba(184, 174, 131, 0.7), 344px 1360px rgba(184, 174, 131, 0.2),
    231px 107px rgba(184, 174, 131, 0.5), 1535px 5px rgba(184, 174, 131, 0.6),
    1240px 1478px rgba(184, 174, 131, 0.1),
    1124px 1572px rgba(184, 174, 131, 0.5),
    1545px 1251px rgba(184, 174, 131, 0.1),
    461px 1654px rgba(184, 174, 131, 0.9),
    1198px 1556px rgba(184, 174, 131, 0.5), 1369px 555px rgba(184, 174, 131, 1),
    1493px 1417px rgba(184, 174, 131, 0.6),
    798px 1750px rgba(184, 174, 131, 0.7), 135px 977px rgba(184, 174, 131, 0.1),
    1250px 1691px rgba(184, 174, 131, 0.4),
    1784px 255px rgba(184, 174, 131, 0.9), 651px 1852px rgba(184, 174, 131, 0.6),
    1674px 150px rgba(184, 174, 131, 0.9), 195px 551px rgba(184, 174, 131, 0.8),
    1324px 1329px rgba(184, 174, 131, 0.1), 777px 479px rgba(184, 174, 131, 0.8),
    20px 1564px rgba(184, 174, 131, 1), 190px 1945px rgba(184, 174, 131, 1),
    710px 1449px rgba(184, 174, 131, 0.7), 121px 541px rgba(184, 174, 131, 0.7),
    1440px 533px rgba(184, 174, 131, 0.3), 673px 675px rgba(184, 174, 131, 0.6),
    1987px 1058px rgba(184, 174, 131, 0.3),
    517px 1789px rgba(184, 174, 131, 0.1),
    1521px 1503px rgba(184, 174, 131, 0.2),
    1966px 1483px rgba(184, 174, 131, 0.8),
    1391px 1296px rgba(184, 174, 131, 0.8),
    1768px 1564px rgba(184, 174, 131, 0.6),
    1300px 637px rgba(184, 174, 131, 0.8), 888px 1968px rgba(184, 174, 131, 0.6),
    1164px 1314px rgba(184, 174, 131, 0.7), 1181px 82px rgba(184, 174, 131, 0.8),
    1460px 1116px rgba(184, 174, 131, 0.6), 562px 834px rgba(184, 174, 131, 0.7),
    1600px 38px rgba(184, 174, 131, 0.1), 53px 430px rgba(184, 174, 131, 0.8),
    1762px 1861px rgba(184, 174, 131, 0.8),
    1181px 893px rgba(184, 174, 131, 0.1), 1551px 362px rgba(184, 174, 131, 0.8),
    501px 1331px rgba(184, 174, 131, 0.7), 1702px 734px rgba(184, 174, 131, 1),
    417px 599px rgba(184, 174, 131, 0.3), 288px 542px rgba(184, 174, 131, 0.5),
    709px 1076px rgba(184, 174, 131, 0.1), 1132px 813px rgba(184, 174, 131, 0.9),
    127px 868px rgba(184, 174, 131, 0.3), 86px 4px rgba(184, 174, 131, 0.8),
    798px 1219px rgba(184, 174, 131, 0.3), 353px 1093px rgba(184, 174, 131, 0.3),
    862px 543px rgba(184, 174, 131, 0.7), 1289px 181px rgba(184, 174, 131, 0.9),
    1658px 1371px rgba(184, 174, 131, 0.8),
    358px 1147px rgba(184, 174, 131, 0.7), 707px 1737px rgba(184, 174, 131, 0.2),
    419px 888px rgba(184, 174, 131, 0.6), 1904px 1335px rgba(184, 174, 131, 0.9),
    1504px 1844px rgba(184, 174, 131, 0.5),
    1345px 687px rgba(184, 174, 131, 0.7), 348px 820px rgba(184, 174, 131, 0.3),
    1263px 1842px rgba(184, 174, 131, 0.8),
    879px 1435px rgba(184, 174, 131, 0.9), 1874px 188px rgba(184, 174, 131, 0.8),
    689px 636px rgba(184, 174, 131, 0.1), 1104px 182px rgba(184, 174, 131, 0.6),
    1496px 428px rgba(184, 174, 131, 0.3), 1947px 321px rgba(184, 174, 131, 0.1),
    1219px 88px rgba(184, 174, 131, 0.5), 1485px 1471px rgba(184, 174, 131, 0.5),
    1908px 871px rgba(184, 174, 131, 1), 273px 116px rgba(184, 174, 131, 0.3),
    1271px 755px rgba(184, 174, 131, 0.4), 473px 1323px rgba(184, 174, 131, 0.5),
    237px 466px rgba(184, 174, 131, 0.8), 905px 1720px rgba(184, 174, 131, 0.5),
    1310px 1392px rgba(184, 174, 131, 0.8),
    1749px 1370px rgba(184, 174, 131, 0.7),
    1702px 722px rgba(184, 174, 131, 0.6), 1365px 382px rgba(184, 174, 131, 1),
    1498px 553px rgba(184, 174, 131, 0.2), 791px 852px rgba(184, 174, 131, 0.5),
    1976px 1543px rgba(184, 174, 131, 0.3),
    1415px 1806px rgba(184, 174, 131, 0.2),
    1003px 140px rgba(184, 174, 131, 0.3), 446px 1909px rgba(184, 174, 131, 0.5),
    254px 906px rgba(184, 174, 131, 0.4), 280px 442px rgba(184, 174, 131, 0.2),
    963px 1218px rgba(184, 174, 131, 0.8), 762px 1772px rgba(184, 174, 131, 0.9),
    382px 447px rgba(184, 174, 131, 0.9), 1896px 1255px rgba(184, 174, 131, 0.8),
    1434px 42px rgba(184, 174, 131, 0.7), 1430px 890px rgba(184, 174, 131, 0.9),
    794px 1051px rgba(184, 174, 131, 0.3),
    1431px 1691px rgba(184, 174, 131, 0.8), 781px 147px rgba(184, 174, 131, 0.3),
    1179px 651px rgba(184, 174, 131, 0.2), 140px 277px rgba(184, 174, 131, 0.7),
    1448px 641px rgba(184, 174, 131, 0.3), 1682px 367px rgba(184, 174, 131, 0.3),
    688px 1281px rgba(184, 174, 131, 0.2), 1985px 1688px rgba(184, 174, 131, 1),
    672px 1042px rgba(184, 174, 131, 0.7), 236px 396px rgba(184, 174, 131, 0.9),
    533px 1699px rgba(184, 174, 131, 0.3), 178px 761px rgba(184, 174, 131, 0.9),
    1942px 1776px rgba(184, 174, 131, 0.4), 746px 499px rgba(184, 174, 131, 0.2),
    1005px 130px rgba(184, 174, 131, 0.2), 377px 159px rgba(184, 174, 131, 0.8),
    1279px 1972px rgba(184, 174, 131, 0.2), 62px 314px rgba(184, 174, 131, 0.2),
    578px 1459px rgba(184, 174, 131, 0.6),
    1346px 1484px rgba(184, 174, 131, 0.2), 817px 541px rgba(184, 174, 131, 0.2),
    1951px 1748px rgba(184, 174, 131, 0.1), 650px 756px rgba(184, 174, 131, 0.6),
    1880px 1759px rgba(184, 174, 131, 0.2),
    1338px 1009px rgba(184, 174, 131, 0.6),
    1795px 911px rgba(184, 174, 131, 0.8), 9px 153px rgba(184, 174, 131, 0.9),
    1524px 428px rgba(184, 174, 131, 0.3), 148px 1205px rgba(184, 174, 131, 0.3),
    107px 903px rgba(184, 174, 131, 0.1), 374px 159px rgba(184, 174, 131, 0.6),
    1672px 1214px rgba(184, 174, 131, 0.3),
    697px 1281px rgba(184, 174, 131, 0.1), 811px 727px rgba(184, 174, 131, 0.6),
    1237px 1833px rgba(184, 174, 131, 0.7),
    1182px 1049px rgba(184, 174, 131, 0.6), 277px 35px rgba(184, 174, 131, 0.6),
    1967px 1048px rgba(184, 174, 131, 0.6), 602px 353px rgba(184, 174, 131, 1),
    147px 963px rgba(184, 174, 131, 0.1), 1473px 1482px rgba(184, 174, 131, 0.9),
    400px 1865px rgba(184, 174, 131, 0.6),
    1221px 1610px rgba(184, 174, 131, 0.8),
    1607px 348px rgba(184, 174, 131, 0.2),
    1908px 1518px rgba(184, 174, 131, 0.4),
    1981px 919px rgba(184, 174, 131, 0.3),
    1006px 1900px rgba(184, 174, 131, 0.3),
    1025px 829px rgba(184, 174, 131, 0.1), 1394px 1464px rgba(184, 174, 131, 1),
    1966px 117px rgba(184, 174, 131, 0.9), 746px 1006px rgba(184, 174, 131, 0.4),
    749px 341px rgba(184, 174, 131, 0.7), 327px 1838px rgba(184, 174, 131, 0.4),
    801px 22px rgba(184, 174, 131, 0.8), 671px 1257px rgba(184, 174, 131, 0.5),
    959px 1674px rgba(184, 174, 131, 0.6), 77px 231px rgba(184, 174, 131, 0.7),
    1988px 1450px rgba(184, 174, 131, 0.3),
    1383px 337px rgba(184, 174, 131, 0.4),
    1337px 1073px rgba(184, 174, 131, 0.2),
    1040px 998px rgba(184, 174, 131, 0.6), 330px 1418px rgba(184, 174, 131, 0.9),
    1268px 1088px rgba(184, 174, 131, 0.8),
    1611px 1318px rgba(184, 174, 131, 0.5), 956px 328px rgba(184, 174, 131, 0.2),
    814px 1617px rgba(184, 174, 131, 0.4), 1108px 185px rgba(184, 174, 131, 0.2),
    1402px 561px rgba(184, 174, 131, 0.5), 961px 552px rgba(184, 174, 131, 0.8),
    14px 1089px rgba(184, 174, 131, 0.2), 122px 697px rgba(184, 174, 131, 0.4),
    1449px 1021px rgba(184, 174, 131, 0.5), 19px 1922px rgba(184, 174, 131, 0.2),
    1659px 513px rgba(184, 174, 131, 0.3), 919px 1809px rgba(184, 174, 131, 0.1),
    1746px 1486px rgba(184, 174, 131, 0.1),
    1818px 1872px rgba(184, 174, 131, 0.4),
    700px 1870px rgba(184, 174, 131, 0.2), 143px 39px rgba(184, 174, 131, 0.7),
    1927px 25px rgba(184, 174, 131, 0.3), 1346px 746px rgba(184, 174, 131, 0.3),
    957px 1323px rgba(184, 174, 131, 0.1), 124px 1261px rgba(184, 174, 131, 0.5),
    1659px 789px rgba(184, 174, 131, 0.8), 998px 1856px rgba(184, 174, 131, 0.1),
    448px 1620px rgba(184, 174, 131, 1), 864px 5px rgba(184, 174, 131, 0.7),
    1668px 568px rgba(184, 174, 131, 0.2),
    1750px 1488px rgba(184, 174, 131, 0.5),
    227px 1383px rgba(184, 174, 131, 0.8),
    1063px 1942px rgba(184, 174, 131, 0.4),
    1051px 441px rgba(184, 174, 131, 0.3),
    1463px 1604px rgba(184, 174, 131, 0.2),
    777px 1635px rgba(184, 174, 131, 0.8), 1008px 1040px rgba(184, 174, 131, 1),
    16px 1168px rgba(184, 174, 131, 0.3), 966px 995px rgba(184, 174, 131, 0.5),
    1237px 1315px rgba(184, 174, 131, 0.6),
    677px 1474px rgba(184, 174, 131, 0.6), 204px 183px rgba(184, 174, 131, 0.2),
    66px 970px rgba(184, 174, 131, 0.3), 1541px 117px rgba(184, 174, 131, 0.6),
    1736px 1106px rgba(184, 174, 131, 0.9), 415px 762px rgba(184, 174, 131, 0.9),
    1951px 187px rgba(184, 174, 131, 0.4), 1581px 107px rgba(184, 174, 131, 0.5),
    549px 1045px rgba(184, 174, 131, 0.3), 184px 466px rgba(184, 174, 131, 0.8),
    1895px 1603px rgba(184, 174, 131, 1), 482px 764px rgba(184, 174, 131, 0.3),
    1334px 577px rgba(184, 174, 131, 0.3), 629px 962px rgba(184, 174, 131, 0.1),
    350px 853px rgba(184, 174, 131, 0.4), 1447px 1920px rgba(184, 174, 131, 0.6),
    466px 1710px rgba(184, 174, 131, 0.4), 1470px 729px rgba(184, 174, 131, 0.6),
    877px 857px rgba(184, 174, 131, 0.8), 61px 722px rgba(184, 174, 131, 0.9),
    1px 1871px rgba(184, 174, 131, 0.4), 326px 1667px rgba(184, 174, 131, 0.1),
    810px 66px rgba(184, 174, 131, 0.9), 1868px 1290px rgba(184, 174, 131, 0.3),
    1958px 932px rgba(184, 174, 131, 0.8), 1428px 820px rgba(184, 174, 131, 0.5),
    1025px 1974px rgba(184, 174, 131, 0.4), 163px 495px rgba(184, 174, 131, 0.2),
    1975px 1379px rgba(184, 174, 131, 0.3),
    525px 1585px rgba(184, 174, 131, 0.3), 171px 1946px rgba(184, 174, 131, 0.3),
    1170px 755px rgba(184, 174, 131, 0.1), 82px 1069px rgba(184, 174, 131, 0.7),
    351px 1762px rgba(184, 174, 131, 0.7), 278px 1011px rgba(184, 174, 131, 0.5),
    65px 8px rgba(184, 174, 131, 0.2), 137px 1194px rgba(184, 174, 131, 0.2),
    1277px 42px rgba(184, 174, 131, 0.8), 701px 1971px rgba(184, 174, 131, 0.9),
    748px 885px rgba(184, 174, 131, 0.2), 1164px 1181px rgba(184, 174, 131, 0.7),
    619px 298px rgba(184, 174, 131, 0.3), 686px 915px rgba(184, 174, 131, 0.6),
    745px 398px rgba(184, 174, 131, 0.6), 540px 1295px rgba(184, 174, 131, 0.8),
    1978px 264px rgba(184, 174, 131, 0.5), 818px 272px rgba(184, 174, 131, 0.9),
    1135px 1891px rgba(184, 174, 131, 0.3),
    1042px 1069px rgba(184, 174, 131, 0.6),
    1583px 1857px rgba(184, 174, 131, 0.3), 365px 425px rgba(184, 174, 131, 1),
    1126px 1462px rgba(184, 174, 131, 0.1), 66px 573px rgba(184, 174, 131, 0.6),
    1094px 1420px rgba(184, 174, 131, 0.1), 73px 721px rgba(184, 174, 131, 0.8),
    1687px 1846px rgba(184, 174, 131, 0.8),
    262px 1670px rgba(184, 174, 131, 0.1),
    1456px 1333px rgba(184, 174, 131, 0.8), 957px 812px rgba(184, 174, 131, 0.4),
    1466px 560px rgba(184, 174, 131, 1), 186px 387px rgba(184, 174, 131, 0.5),
    1757px 1507px rgba(184, 174, 131, 0.7),
    1663px 1879px rgba(184, 174, 131, 0.4), 1925px 1395px rgba(184, 174, 131, 1),
    26px 1950px rgba(184, 174, 131, 0.3), 1693px 365px rgba(184, 174, 131, 0.2),
    615px 747px rgba(184, 174, 131, 0.1), 563px 1218px rgba(184, 174, 131, 0.3),
    363px 1126px rgba(184, 174, 131, 0.2), 969px 391px rgba(184, 174, 131, 0.1),
    1859px 94px rgba(184, 174, 131, 0.7), 1117px 674px rgba(184, 174, 131, 0.9),
    118px 16px rgba(184, 174, 131, 0.6), 1013px 554px rgba(184, 174, 131, 0.9),
    858px 654px rgba(184, 174, 131, 0.9), 1156px 1663px rgba(184, 174, 131, 0.6),
    629px 809px rgba(184, 174, 131, 0.5), 1391px 1470px rgba(184, 174, 131, 0.1),
    1289px 1839px rgba(184, 174, 131, 0.6), 724px 366px rgba(184, 174, 131, 0.7),
    271px 1145px rgba(184, 174, 131, 0.4),
    1106px 1758px rgba(184, 174, 131, 0.4),
    980px 1741px rgba(184, 174, 131, 0.8), 497px 951px rgba(184, 174, 131, 0.1),
    24px 213px rgba(184, 174, 131, 0.6), 1146px 937px rgba(184, 174, 131, 0.3),
    473px 644px rgba(184, 174, 131, 0.8), 482px 438px rgba(184, 174, 131, 0.1),
    1258px 393px rgba(184, 174, 131, 0.9),
    1282px 1692px rgba(184, 174, 131, 0.3), 640px 620px rgba(184, 174, 131, 0.7),
    1938px 37px rgba(184, 174, 131, 0.5), 740px 511px rgba(184, 174, 131, 0.8),
    1338px 737px rgba(184, 174, 131, 0.4), 1957px 575px rgba(184, 174, 131, 0.9),
    893px 1020px rgba(184, 174, 131, 0.6), 179px 889px rgba(184, 174, 131, 1),
    524px 381px rgba(184, 174, 131, 0.5), 1915px 113px rgba(184, 174, 131, 0.2),
    1890px 1246px rgba(184, 174, 131, 0.7), 105px 504px rgba(184, 174, 131, 0.1),
    1531px 1816px rgba(184, 174, 131, 0.1), 552px 754px rgba(184, 174, 131, 0.2),
    603px 719px rgba(184, 174, 131, 0.1), 943px 1823px rgba(184, 174, 131, 0.4),
    683px 772px rgba(184, 174, 131, 0.2), 464px 1845px rgba(184, 174, 131, 0.2),
    1630px 611px rgba(184, 174, 131, 0.4), 1822px 931px rgba(184, 174, 131, 0.3),
    1366px 40px rgba(184, 174, 131, 0.7), 120px 193px rgba(184, 174, 131, 0.1),
    489px 546px rgba(184, 174, 131, 0.1), 1276px 1124px rgba(184, 174, 131, 0.3),
    1881px 356px rgba(184, 174, 131, 0.7), 1313px 512px rgba(184, 174, 131, 0.4),
    1px 992px rgba(184, 174, 131, 0.1), 1603px 1670px rgba(184, 174, 131, 0.5),
    467px 4px rgba(184, 174, 131, 1), 829px 838px rgba(184, 174, 131, 0.5),
    1689px 1301px rgba(184, 174, 131, 0.2),
    1272px 1921px rgba(184, 174, 131, 0.7), 996px 688px rgba(184, 174, 131, 1),
    1134px 1828px rgba(184, 174, 131, 0.3),
    247px 1918px rgba(184, 174, 131, 0.9), 1456px 818px rgba(184, 174, 131, 0.4),
    901px 886px rgba(184, 174, 131, 0.9), 1631px 832px rgba(184, 174, 131, 0.3),
    1679px 1852px rgba(184, 174, 131, 0.9),
    837px 1876px rgba(184, 174, 131, 0.1), 768px 1161px rgba(184, 174, 131, 0.1),
    1791px 930px rgba(184, 174, 131, 0.2), 1025px 429px rgba(184, 174, 131, 0.1),
    1472px 1093px rgba(184, 174, 131, 0.9), 809px 530px rgba(184, 174, 131, 0.6),
    993px 876px rgba(184, 174, 131, 0.5), 1977px 56px rgba(184, 174, 131, 0.8),
    1689px 257px rgba(184, 174, 131, 0.8), 1905px 407px rgba(184, 174, 131, 0.8),
    1025px 704px rgba(184, 174, 131, 0.9);
  background: transparent;
  border-radius: 100%;
  animation: blink 2s infinite;
}

.stars2 {
  width: 3px;
  height: 3px;
  box-shadow: 352px 42px rgba(165, 190, 195, 0.3),
    611px 393px rgba(184, 174, 131, 0.4), 1562px 27px rgba(184, 174, 131, 0.5),
    1328px 522px rgba(184, 174, 131, 1), 1220px 377px rgba(184, 174, 131, 0.7),
    115px 22px rgba(184, 174, 131, 0.4), 653px 1138px rgba(184, 174, 131, 0.8),
    426px 232px rgba(184, 174, 131, 0.4), 1285px 301px rgba(184, 174, 131, 0.3),
    760px 1289px rgba(184, 174, 131, 0.3), 90px 1262px rgba(184, 174, 131, 0.3),
    1811px 335px rgba(184, 174, 131, 0.7), 281px 1385px rgba(184, 174, 131, 1),
    300px 232px rgba(184, 174, 131, 1), 216px 1198px rgba(184, 174, 131, 0.5),
    1088px 191px rgba(184, 174, 131, 1), 118px 482px rgba(184, 174, 131, 0.8),
    125px 1353px rgba(184, 174, 131, 1), 1921px 59px rgba(184, 174, 131, 0.8),
    1068px 1541px rgba(184, 174, 131, 0.7),
    1921px 1943px rgba(184, 174, 131, 0.6),
    207px 1407px rgba(184, 174, 131, 0.5),
    1392px 1987px rgba(184, 174, 131, 0.9), 604px 888px rgba(184, 174, 131, 0.3),
    1665px 992px rgba(184, 174, 131, 0.8), 267px 1374px rgba(184, 174, 131, 0.4),
    1933px 431px rgba(184, 174, 131, 0.2),
    1805px 1518px rgba(184, 174, 131, 0.4), 1127px 23px rgba(184, 174, 131, 0.7),
    615px 146px rgba(184, 174, 131, 0.2), 1157px 1432px rgba(184, 174, 131, 0.5),
    423px 1377px rgba(184, 174, 131, 0.7), 1455px 722px rgba(184, 174, 131, 0.4),
    247px 1129px rgba(184, 174, 131, 0.1), 1267px 732px rgba(184, 174, 131, 0.5),
    1228px 1257px rgba(184, 174, 131, 0.6), 709px 825px rgba(184, 174, 131, 1),
    68px 366px rgba(184, 174, 131, 0.9), 232px 385px rgba(184, 174, 131, 0.5),
    622px 1472px rgba(184, 174, 131, 0.5), 1635px 645px rgba(184, 174, 131, 0.8),
    1098px 1760px rgba(184, 174, 131, 0.5),
    1207px 1986px rgba(184, 174, 131, 0.9),
    127px 1360px rgba(184, 174, 131, 0.7),
    1461px 1353px rgba(184, 174, 131, 0.1),
    1724px 1892px rgba(184, 174, 131, 0.9),
    1279px 1870px rgba(184, 174, 131, 0.2),
    1284px 190px rgba(184, 174, 131, 0.8),
    1180px 1240px rgba(184, 174, 131, 0.3), 1607px 24px rgba(184, 174, 131, 1),
    796px 1420px rgba(184, 174, 131, 0.3), 1944px 187px rgba(184, 174, 131, 1),
    1484px 88px rgba(184, 174, 131, 0.5), 1592px 1246px rgba(184, 174, 131, 0.1),
    901px 169px rgba(184, 174, 131, 0.7), 104px 1109px rgba(184, 174, 131, 0.5),
    95px 277px rgba(184, 174, 131, 0.9), 491px 1879px rgba(184, 174, 131, 0.3),
    1462px 1851px rgba(184, 174, 131, 0.5),
    1727px 1747px rgba(184, 174, 131, 0.5),
    1493px 1586px rgba(184, 174, 131, 0.4),
    188px 1603px rgba(184, 174, 131, 0.6), 644px 947px rgba(184, 174, 131, 0.5),
    1979px 1885px rgba(184, 174, 131, 0.2),
    939px 1483px rgba(184, 174, 131, 0.1), 356px 1704px rgba(184, 174, 131, 0.8),
    535px 251px rgba(184, 174, 131, 0.8), 1907px 1669px rgba(184, 174, 131, 1),
    1333px 1214px rgba(184, 174, 131, 0.8), 114px 471px rgba(184, 174, 131, 0.3),
    312px 462px rgba(184, 174, 131, 0.2), 610px 490px rgba(184, 174, 131, 0.1),
    168px 387px rgba(184, 174, 131, 0.4), 1118px 104px rgba(184, 174, 131, 0.5),
    1000px 1467px rgba(184, 174, 131, 0.7),
    1130px 980px rgba(184, 174, 131, 0.6),
    1089px 1910px rgba(184, 174, 131, 0.3), 1831px 769px rgba(184, 174, 131, 1),
    1053px 1064px rgba(184, 174, 131, 0.5), 734px 479px rgba(184, 174, 131, 0.2),
    1462px 1813px rgba(184, 174, 131, 0.2),
    693px 1061px rgba(184, 174, 131, 0.6), 1967px 828px rgba(184, 174, 131, 0.2),
    1413px 1779px rgba(184, 174, 131, 0.3), 563px 484px rgba(184, 174, 131, 0.7),
    1620px 1804px rgba(184, 174, 131, 0.4),
    1763px 842px rgba(184, 174, 131, 0.4), 1090px 1996px rgba(184, 174, 131, 1),
    1648px 1132px rgba(184, 174, 131, 0.2),
    159px 1165px rgba(184, 174, 131, 0.8), 941px 352px rgba(184, 174, 131, 0.2),
    1840px 1335px rgba(184, 174, 131, 0.5), 1393px 19px rgba(184, 174, 131, 0.6),
    1140px 1581px rgba(184, 174, 131, 0.7), 275px 967px rgba(184, 174, 131, 0.3),
    1360px 1771px rgba(184, 174, 131, 0.1),
    1622px 894px rgba(184, 174, 131, 0.8), 259px 810px rgba(184, 174, 131, 0.4),
    1738px 930px rgba(184, 174, 131, 0.3), 435px 1015px rgba(184, 174, 131, 0.2),
    453px 1994px rgba(184, 174, 131, 0.5), 137px 1087px rgba(184, 174, 131, 0.8),
    1144px 460px rgba(184, 174, 131, 0.6), 772px 243px rgba(184, 174, 131, 0.1),
    1028px 1085px rgba(184, 174, 131, 0.7),
    1288px 1652px rgba(184, 174, 131, 0.4),
    1054px 556px rgba(184, 174, 131, 0.8), 233px 549px rgba(184, 174, 131, 0.8),
    471px 1780px rgba(184, 174, 131, 0.7), 32px 484px rgba(184, 174, 131, 0.1),
    313px 1420px rgba(184, 174, 131, 0.8), 1661px 265px rgba(184, 174, 131, 1),
    328px 1340px rgba(184, 174, 131, 0.7),
    1325px 1487px rgba(184, 174, 131, 0.1), 852px 802px rgba(184, 174, 131, 0.3),
    1077px 502px rgba(184, 174, 131, 0.2), 777px 1192px rgba(184, 174, 131, 0.8),
    1984px 1280px rgba(184, 174, 131, 0.1),
    865px 1666px rgba(184, 174, 131, 0.7),
    1229px 1010px rgba(184, 174, 131, 0.7),
    990px 1057px rgba(184, 174, 131, 0.8), 591px 343px rgba(184, 174, 131, 0.1),
    1722px 1616px rgba(184, 174, 131, 0.7),
    793px 1492px rgba(184, 174, 131, 0.9),
    1250px 1856px rgba(184, 174, 131, 0.1), 847px 760px rgba(184, 174, 131, 0.5),
    1924px 1236px rgba(184, 174, 131, 0.6),
    223px 1420px rgba(184, 174, 131, 0.1), 1549px 772px rgba(184, 174, 131, 0.1),
    662px 397px rgba(184, 174, 131, 0.8), 1359px 949px rgba(184, 174, 131, 0.5),
    1509px 442px rgba(184, 174, 131, 1), 235px 462px rgba(184, 174, 131, 0.9),
    1918px 1637px rgba(184, 174, 131, 0.8), 60px 383px rgba(184, 174, 131, 0.4),
    1251px 870px rgba(184, 174, 131, 0.4),
    1905px 1848px rgba(184, 174, 131, 0.3),
    1158px 1671px rgba(184, 174, 131, 0.5), 567px 716px rgba(184, 174, 131, 0.2),
    1212px 1685px rgba(184, 174, 131, 0.6), 749px 1861px rgba(184, 174, 131, 1),
    148px 378px rgba(184, 174, 131, 0.3), 447px 1770px rgba(184, 174, 131, 0.3),
    950px 919px rgba(184, 174, 131, 0.3), 1116px 526px rgba(184, 174, 131, 0.6),
    1143px 1725px rgba(184, 174, 131, 0.2), 36px 691px rgba(184, 174, 131, 0.2),
    1331px 1411px rgba(184, 174, 131, 0.7),
    1425px 536px rgba(184, 174, 131, 0.6), 1233px 469px rgba(184, 174, 131, 0.9),
    1682px 1737px rgba(184, 174, 131, 0.9),
    368px 1512px rgba(184, 174, 131, 0.4), 717px 137px rgba(184, 174, 131, 0.2),
    428px 1365px rgba(184, 174, 131, 0.6), 406px 1039px rgba(184, 174, 131, 0.5),
    1388px 1760px rgba(184, 174, 131, 0.5),
    743px 1569px rgba(184, 174, 131, 0.5),
    1344px 1723px rgba(184, 174, 131, 0.1), 512px 180px rgba(184, 174, 131, 0.6),
    1075px 290px rgba(184, 174, 131, 0.1),
    1805px 1561px rgba(184, 174, 131, 0.1),
    1676px 203px rgba(184, 174, 131, 0.1), 1013px 458px rgba(184, 174, 131, 0.1),
    673px 337px rgba(184, 174, 131, 0.4), 1741px 325px rgba(184, 174, 131, 0.9),
    1708px 761px rgba(184, 174, 131, 0.8), 647px 439px rgba(184, 174, 131, 0.5),
    1150px 406px rgba(184, 174, 131, 0.8), 1430px 1528px rgba(184, 174, 131, 1),
    1292px 1145px rgba(184, 174, 131, 0.9),
    1068px 655px rgba(184, 174, 131, 0.9),
    1407px 1409px rgba(184, 174, 131, 0.4), 386px 868px rgba(184, 174, 131, 1),
    1069px 1759px rgba(184, 174, 131, 0.2),
    1577px 1040px rgba(184, 174, 131, 0.5), 281px 788px rgba(184, 174, 131, 1),
    462px 1098px rgba(184, 174, 131, 0.7), 570px 1677px rgba(184, 174, 131, 0.1),
    1749px 273px rgba(184, 174, 131, 0.8), 229px 1672px rgba(184, 174, 131, 0.7),
    555px 1698px rgba(184, 174, 131, 0.2), 1938px 894px rgba(184, 174, 131, 0.8),
    818px 253px rgba(184, 174, 131, 0.5), 1077px 784px rgba(184, 174, 131, 1),
    297px 1292px rgba(184, 174, 131, 0.3), 1211px 220px rgba(184, 174, 131, 0.8),
    1315px 1011px rgba(184, 174, 131, 0.7),
    1832px 608px rgba(184, 174, 131, 0.6), 1316px 969px rgba(184, 174, 131, 1),
    1610px 964px rgba(184, 174, 131, 0.2), 1318px 59px rgba(184, 174, 131, 0.8),
    1298px 163px rgba(184, 174, 131, 0.6), 1080px 691px rgba(184, 174, 131, 0.9),
    124px 559px rgba(184, 174, 131, 0.4), 1474px 1478px rgba(184, 174, 131, 0.5),
    1184px 1950px rgba(184, 174, 131, 0.7),
    1903px 1827px rgba(184, 174, 131, 0.7),
    1662px 1868px rgba(184, 174, 131, 0.9),
    1899px 1799px rgba(184, 174, 131, 0.3),
    1524px 791px rgba(184, 174, 131, 0.1), 915px 993px rgba(184, 174, 131, 0.7),
    1874px 924px rgba(184, 174, 131, 0.9), 375px 1133px rgba(184, 174, 131, 0.4),
    303px 1353px rgba(184, 174, 131, 1), 659px 1198px rgba(184, 174, 131, 0.8),
    486px 1563px rgba(184, 174, 131, 0.2),
    1763px 1872px rgba(184, 174, 131, 0.4),
    245px 1194px rgba(184, 174, 131, 0.2), 449px 1707px rgba(184, 174, 131, 0.1),
    530px 78px rgba(184, 174, 131, 0.6), 1587px 1712px rgba(184, 174, 131, 0.6),
    1264px 407px rgba(184, 174, 131, 0.8), 1491px 168px rgba(184, 174, 131, 0.8),
    1498px 1192px rgba(184, 174, 131, 0.2), 13px 1652px rgba(184, 174, 131, 0.5),
    1384px 1259px rgba(184, 174, 131, 0.1), 1684px 11px rgba(184, 174, 131, 0.9),
    1695px 517px rgba(184, 174, 131, 0.3), 1169px 1238px rgba(184, 174, 131, 1),
    1523px 341px rgba(184, 174, 131, 1), 1244px 432px rgba(184, 174, 131, 1),
    1990px 329px rgba(184, 174, 131, 0.8), 1070px 478px rgba(184, 174, 131, 1),
    274px 1089px rgba(184, 174, 131, 0.5), 1895px 602px rgba(184, 174, 131, 0.8),
    1633px 1394px rgba(184, 174, 131, 0.2),
    1864px 1623px rgba(184, 174, 131, 0.9),
    1878px 1052px rgba(184, 174, 131, 0.5),
    1653px 1355px rgba(184, 174, 131, 0.1),
    1121px 1819px rgba(184, 174, 131, 0.7), 778px 236px rgba(184, 174, 131, 0.5),
    1447px 941px rgba(184, 174, 131, 0.3), 279px 486px rgba(184, 174, 131, 1),
    560px 1770px rgba(184, 174, 131, 0.7), 1174px 398px rgba(184, 174, 131, 0.8),
    1427px 862px rgba(184, 174, 131, 0.9), 805px 1402px rgba(184, 174, 131, 0.5),
    757px 38px rgba(184, 174, 131, 0.5), 608px 220px rgba(184, 174, 131, 0.8),
    1411px 1236px rgba(184, 174, 131, 0.9), 216px 631px rgba(184, 174, 131, 0.8),
    218px 685px rgba(184, 174, 131, 0.5), 853px 1748px rgba(184, 174, 131, 0.9),
    1324px 1537px rgba(184, 174, 131, 0.7),
    479px 1140px rgba(184, 174, 131, 0.9),
    1904px 1687px rgba(184, 174, 131, 0.4),
    1777px 235px rgba(184, 174, 131, 0.2), 1006px 294px rgba(184, 174, 131, 0.2),
    1416px 1533px rgba(184, 174, 131, 0.6),
    1302px 738px rgba(184, 174, 131, 0.1), 1426px 709px rgba(184, 174, 131, 0.3),
    1213px 717px rgba(184, 174, 131, 0.6),
    1624px 1987px rgba(184, 174, 131, 0.8),
    1294px 912px rgba(184, 174, 131, 0.5), 1323px 435px rgba(184, 174, 131, 0.7),
    646px 477px rgba(184, 174, 131, 0.9), 644px 114px rgba(184, 174, 131, 0.9),
    1919px 1599px rgba(184, 174, 131, 0.9),
    1173px 324px rgba(184, 174, 131, 0.8), 1158px 687px rgba(184, 174, 131, 0.8),
    1292px 1111px rgba(184, 174, 131, 0.9), 762px 375px rgba(184, 174, 131, 0.3),
    1991px 1704px rgba(184, 174, 131, 0.7),
    316px 1568px rgba(184, 174, 131, 0.1),
    1882px 1691px rgba(184, 174, 131, 0.8),
    1013px 809px rgba(184, 174, 131, 0.9),
    1139px 1946px rgba(184, 174, 131, 0.8),
    1863px 1751px rgba(184, 174, 131, 0.3),
    1710px 378px rgba(184, 174, 131, 0.3), 687px 1323px rgba(184, 174, 131, 0.6),
    590px 1152px rgba(184, 174, 131, 0.5), 930px 466px rgba(184, 174, 131, 0.5),
    84px 1590px rgba(184, 174, 131, 0.9), 985px 1191px rgba(184, 174, 131, 0.3),
    1335px 12px rgba(184, 174, 131, 0.8), 1444px 1408px rgba(184, 174, 131, 0.2),
    1103px 958px rgba(184, 174, 131, 0.8), 1849px 825px rgba(184, 174, 131, 0.8),
    193px 835px rgba(184, 174, 131, 1), 1122px 409px rgba(184, 174, 131, 0.4),
    1740px 1957px rgba(184, 174, 131, 0.9), 381px 746px rgba(184, 174, 131, 0.1),
    203px 1696px rgba(184, 174, 131, 0.2),
    1925px 1644px rgba(184, 174, 131, 0.9),
    478px 1026px rgba(184, 174, 131, 0.1), 1316px 147px rgba(184, 174, 131, 0.4),
    752px 1142px rgba(184, 174, 131, 0.4), 1511px 160px rgba(184, 174, 131, 0.7),
    188px 1803px rgba(184, 174, 131, 0.9), 844px 756px rgba(184, 174, 131, 0.2),
    510px 915px rgba(184, 174, 131, 0.8), 351px 1341px rgba(184, 174, 131, 0.8),
    1297px 1999px rgba(184, 174, 131, 0.7), 10px 1005px rgba(184, 174, 131, 0.4),
    17px 1004px rgba(184, 174, 131, 0.5), 110px 1526px rgba(184, 174, 131, 0.3),
    1081px 378px rgba(184, 174, 131, 0.2), 694px 869px rgba(184, 174, 131, 0.3),
    921px 929px rgba(184, 174, 131, 0.6), 1799px 446px rgba(184, 174, 131, 0.1),
    344px 1620px rgba(184, 174, 131, 0.1), 1677px 555px rgba(184, 174, 131, 0.2),
    1997px 216px rgba(184, 174, 131, 0.9), 953px 831px rgba(184, 174, 131, 0.2),
    1305px 144px rgba(184, 174, 131, 0.8),
    1943px 1806px rgba(184, 174, 131, 0.5),
    505px 1040px rgba(184, 174, 131, 0.8), 1521px 1563px rgba(184, 174, 131, 1),
    1969px 145px rgba(184, 174, 131, 0.7), 240px 907px rgba(184, 174, 131, 1),
    99px 1241px rgba(184, 174, 131, 0.2), 145px 867px rgba(184, 174, 131, 0.2),
    255px 177px rgba(184, 174, 131, 0.2), 399px 630px rgba(184, 174, 131, 0.3),
    1209px 644px rgba(184, 174, 131, 0.8),
    1940px 1409px rgba(184, 174, 131, 0.7),
    765px 1636px rgba(184, 174, 131, 0.6), 489px 1061px rgba(184, 174, 131, 0.1),
    332px 983px rgba(184, 174, 131, 0.3), 1631px 1640px rgba(184, 174, 131, 0.9),
    561px 432px rgba(184, 174, 131, 0.8), 1239px 716px rgba(184, 174, 131, 0.8),
    1906px 1119px rgba(184, 174, 131, 0.2),
    1666px 403px rgba(184, 174, 131, 0.9), 443px 1046px rgba(184, 174, 131, 1),
    556px 1589px rgba(184, 174, 131, 0.5), 1876px 660px rgba(184, 174, 131, 0.8),
    1502px 1317px rgba(184, 174, 131, 0.9), 831px 890px rgba(184, 174, 131, 0.9),
    94px 1584px rgba(184, 174, 131, 0.8), 192px 1308px rgba(184, 174, 131, 0.7),
    876px 1694px rgba(184, 174, 131, 0.1), 1499px 375px rgba(184, 174, 131, 0.8),
    855px 617px rgba(184, 174, 131, 0.5), 1680px 917px rgba(184, 174, 131, 0.6),
    684px 656px rgba(184, 174, 131, 1), 326px 1036px rgba(184, 174, 131, 1),
    1736px 840px rgba(184, 174, 131, 1), 1731px 1995px rgba(184, 174, 131, 0.6),
    1986px 319px rgba(184, 174, 131, 0.1), 89px 1497px rgba(184, 174, 131, 0.1),
    900px 627px rgba(184, 174, 131, 0.3), 1592px 954px rgba(184, 174, 131, 0.7),
    466px 574px rgba(184, 174, 131, 0.9), 473px 1468px rgba(184, 174, 131, 0.7),
    1927px 920px rgba(184, 174, 131, 0.2), 599px 117px rgba(184, 174, 131, 0.2),
    925px 395px rgba(184, 174, 131, 0.4), 621px 802px rgba(184, 174, 131, 0.9),
    1844px 988px rgba(184, 174, 131, 0.7), 458px 954px rgba(184, 174, 131, 1),
    1530px 930px rgba(184, 174, 131, 1), 1513px 1723px rgba(184, 174, 131, 0.4),
    1267px 751px rgba(184, 174, 131, 0.9), 793px 1672px rgba(184, 174, 131, 0.7),
    1100px 201px rgba(184, 174, 131, 0.6), 137px 28px rgba(184, 174, 131, 0.1),
    680px 467px rgba(184, 174, 131, 0.7), 1314px 1357px rgba(184, 174, 131, 0.6),
    1766px 546px rgba(184, 174, 131, 0.2),
    1641px 1220px rgba(184, 174, 131, 0.5), 444px 380px rgba(184, 174, 131, 0.3),
    1631px 855px rgba(184, 174, 131, 0.5), 47px 662px rgba(184, 174, 131, 0.2),
    784px 514px rgba(184, 174, 131, 1), 883px 1135px rgba(184, 174, 131, 0.7),
    335px 936px rgba(184, 174, 131, 0.9), 756px 811px rgba(184, 174, 131, 0.8),
    480px 889px rgba(184, 174, 131, 0.9), 159px 513px rgba(184, 174, 131, 0.9),
    1316px 1218px rgba(184, 174, 131, 0.9),
    1982px 1579px rgba(184, 174, 131, 0.2),
    1342px 1340px rgba(184, 174, 131, 0.3), 609px 578px rgba(184, 174, 131, 0.4),
    493px 380px rgba(184, 174, 131, 0.1), 1080px 837px rgba(184, 174, 131, 0.8),
    3px 533px rgba(184, 174, 131, 0.1), 883px 1903px rgba(184, 174, 131, 0.2),
    1694px 1874px rgba(184, 174, 131, 0.8),
    1654px 1800px rgba(184, 174, 131, 0.9),
    1316px 1691px rgba(184, 174, 131, 0.2),
    1883px 1125px rgba(184, 174, 131, 0.5),
    1657px 1224px rgba(184, 174, 131, 0.9),
    826px 1957px rgba(184, 174, 131, 0.6), 1879px 246px rgba(184, 174, 131, 0.6),
    666px 373px rgba(184, 174, 131, 0.9), 1750px 1030px rgba(184, 174, 131, 0.1),
    1947px 839px rgba(184, 174, 131, 0.7), 831px 1040px rgba(184, 174, 131, 0.6),
    1045px 760px rgba(184, 174, 131, 0.6), 944px 391px rgba(184, 174, 131, 0.7),
    978px 276px rgba(184, 174, 131, 0.4), 330px 1807px rgba(184, 174, 131, 0.3),
    506px 762px rgba(184, 174, 131, 0.4), 1275px 1760px rgba(184, 174, 131, 1),
    81px 1663px rgba(184, 174, 131, 0.4), 779px 552px rgba(184, 174, 131, 0.3),
    658px 464px rgba(184, 174, 131, 0.8), 490px 397px rgba(184, 174, 131, 0.3),
    285px 428px rgba(184, 174, 131, 0.2), 1796px 1264px rgba(184, 174, 131, 0.4),
    654px 527px rgba(184, 174, 131, 0.3);
  background: transparent;
  border-radius: 100%;
  animation: blink 4s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

.stars3 {
  width: 4px;
  height: 4px;
  box-shadow: 1957px 1353px rgba(165, 190, 195, 0.4),
    1872px 218px rgba(184, 174, 131, 0.7), 1946px 1px rgba(184, 174, 131, 0.3),
    1497px 502px rgba(184, 174, 131, 0.4),
    1970px 1360px rgba(184, 174, 131, 0.4), 10px 87px rgba(184, 174, 131, 0.1),
    1875px 1424px rgba(184, 174, 131, 0.2),
    1655px 357px rgba(184, 174, 131, 0.6), 309px 544px rgba(184, 174, 131, 0.9),
    164px 1485px rgba(184, 174, 131, 0.2), 665px 1377px rgba(184, 174, 131, 0.8),
    228px 1378px rgba(184, 174, 131, 0.1), 139px 499px rgba(184, 174, 131, 0.2),
    1047px 1169px rgba(184, 174, 131, 0.5),
    127px 1031px rgba(184, 174, 131, 0.5),
    1225px 1375px rgba(184, 174, 131, 0.1),
    1264px 542px rgba(184, 174, 131, 0.5), 366px 1108px rgba(184, 174, 131, 0.1),
    595px 1873px rgba(184, 174, 131, 0.3), 608px 1425px rgba(184, 174, 131, 0.1),
    1594px 195px rgba(184, 174, 131, 0.5), 913px 1051px rgba(184, 174, 131, 0.9),
    1857px 559px rgba(184, 174, 131, 0.7), 732px 1697px rgba(184, 174, 131, 0.3),
    505px 1047px rgba(184, 174, 131, 0.5), 630px 155px rgba(184, 174, 131, 0.6),
    1938px 1294px rgba(184, 174, 131, 0.9), 610px 916px rgba(184, 174, 131, 0.7),
    419px 742px rgba(184, 174, 131, 0.9), 327px 760px rgba(184, 174, 131, 0.8),
    1828px 727px rgba(184, 174, 131, 1), 1091px 1993px rgba(184, 174, 131, 0.5),
    981px 1467px rgba(184, 174, 131, 0.7),
    1387px 1310px rgba(184, 174, 131, 0.1),
    355px 1616px rgba(184, 174, 131, 0.5), 480px 1233px rgba(184, 174, 131, 0.6),
    596px 1973px rgba(184, 174, 131, 0.3), 1293px 159px rgba(184, 174, 131, 0.4),
    1391px 1625px rgba(184, 174, 131, 0.7), 24px 980px rgba(184, 174, 131, 0.7),
    1401px 1737px rgba(184, 174, 131, 1), 728px 232px rgba(184, 174, 131, 0.2),
    324px 1540px rgba(184, 174, 131, 0.5), 955px 1918px rgba(184, 174, 131, 0.6),
    1264px 64px rgba(184, 174, 131, 0.6), 1248px 1027px rgba(184, 174, 131, 0.4),
    382px 1454px rgba(184, 174, 131, 0.6), 1823px 357px rgba(184, 174, 131, 0.3),
    1703px 56px rgba(184, 174, 131, 0.6), 883px 1692px rgba(184, 174, 131, 0.4),
    820px 689px rgba(184, 174, 131, 0.5), 1499px 1773px rgba(184, 174, 131, 0.4),
    99px 871px rgba(184, 174, 131, 0.1), 937px 1431px rgba(184, 174, 131, 0.7),
    1848px 975px rgba(184, 174, 131, 0.5), 327px 1777px rgba(184, 174, 131, 0.2),
    2px 1588px rgba(184, 174, 131, 0.1), 1055px 900px rgba(184, 174, 131, 0.3),
    1716px 1075px rgba(184, 174, 131, 0.3),
    1019px 1898px rgba(184, 174, 131, 0.7),
    1144px 516px rgba(184, 174, 131, 0.2), 15px 1020px rgba(184, 174, 131, 0.2),
    1291px 310px rgba(184, 174, 131, 0.9), 85px 660px rgba(184, 174, 131, 0.4),
    497px 1841px rgba(184, 174, 131, 0.4), 989px 1328px rgba(184, 174, 131, 0.1),
    1397px 1904px rgba(184, 174, 131, 1), 772px 719px rgba(184, 174, 131, 0.6),
    1675px 750px rgba(184, 174, 131, 0.9), 1063px 783px rgba(184, 174, 131, 0.9),
    96px 1434px rgba(184, 174, 131, 0.4), 1541px 1853px rgba(184, 174, 131, 0.5),
    1639px 396px rgba(184, 174, 131, 0.2), 1244px 264px rgba(184, 174, 131, 0.7),
    1635px 1199px rgba(184, 174, 131, 0.4), 61px 273px rgba(184, 174, 131, 0.7),
    773px 1531px rgba(184, 174, 131, 0.5), 1px 1411px rgba(184, 174, 131, 1),
    799px 1794px rgba(184, 174, 131, 0.9), 939px 438px rgba(184, 174, 131, 0.1),
    495px 1373px rgba(184, 174, 131, 0.8),
    1423px 1660px rgba(184, 174, 131, 0.5),
    1006px 660px rgba(184, 174, 131, 0.5), 1146px 389px rgba(184, 174, 131, 0.6),
    108px 206px rgba(184, 174, 131, 1), 935px 429px rgba(184, 174, 131, 1),
    462px 1824px rgba(184, 174, 131, 0.6), 701px 310px rgba(184, 174, 131, 0.6),
    1192px 175px rgba(184, 174, 131, 0.1), 1351px 39px rgba(184, 174, 131, 0.7),
    1055px 173px rgba(184, 174, 131, 0.3),
    1097px 1090px rgba(184, 174, 131, 0.3),
    453px 1857px rgba(184, 174, 131, 0.4),
    1285px 1927px rgba(184, 174, 131, 0.5), 993px 161px rgba(184, 174, 131, 0.2),
    189px 1727px rgba(184, 174, 131, 0.2), 675px 1786px rgba(184, 174, 131, 0.9),
    24px 145px rgba(184, 174, 131, 1), 201px 1076px rgba(184, 174, 131, 1),
    315px 1396px rgba(184, 174, 131, 0.1), 1297px 1619px rgba(184, 174, 131, 1),
    1948px 1839px rgba(184, 174, 131, 0.7),
    1987px 1903px rgba(184, 174, 131, 0.9), 752px 611px rgba(184, 174, 131, 0.9),
    1624px 652px rgba(184, 174, 131, 0.4), 812px 165px rgba(184, 174, 131, 0.7),
    1068px 1255px rgba(184, 174, 131, 0.5),
    1383px 104px rgba(184, 174, 131, 0.3), 1809px 141px rgba(184, 174, 131, 0.2),
    110px 1089px rgba(184, 174, 131, 0.3), 954px 799px rgba(184, 174, 131, 0.4),
    498px 1325px rgba(184, 174, 131, 0.6), 253px 1363px rgba(184, 174, 131, 0.7),
    1019px 386px rgba(184, 174, 131, 1), 1102px 1010px rgba(184, 174, 131, 0.5),
    102px 1520px rgba(184, 174, 131, 0.7), 146px 1868px rgba(184, 174, 131, 0.3),
    1587px 1669px rgba(184, 174, 131, 1), 173px 1895px rgba(184, 174, 131, 0.3),
    174px 1327px rgba(184, 174, 131, 0.5), 933px 1079px rgba(184, 174, 131, 0.9),
    898px 54px rgba(184, 174, 131, 0.3), 1422px 1190px rgba(184, 174, 131, 0.3),
    349px 66px rgba(184, 174, 131, 0.7), 112px 29px rgba(184, 174, 131, 1),
    859px 100px rgba(184, 174, 131, 0.3), 1759px 821px rgba(184, 174, 131, 0.1),
    1818px 521px rgba(184, 174, 131, 0.7), 1946px 775px rgba(184, 174, 131, 0.6),
    1713px 1877px rgba(184, 174, 131, 0.2),
    1689px 390px rgba(184, 174, 131, 0.1), 1183px 144px rgba(184, 174, 131, 0.1),
    1195px 1801px rgba(184, 174, 131, 0.5),
    1583px 239px rgba(184, 174, 131, 0.7),
    1462px 1853px rgba(184, 174, 131, 0.3),
    1726px 874px rgba(184, 174, 131, 0.1),
    1080px 1866px rgba(184, 174, 131, 0.3), 577px 164px rgba(184, 174, 131, 0.5),
    1897px 418px rgba(184, 174, 131, 0.2),
    1940px 1834px rgba(184, 174, 131, 0.2), 892px 836px rgba(184, 174, 131, 0.3),
    1972px 581px rgba(184, 174, 131, 0.4), 1156px 106px rgba(184, 174, 131, 0.8),
    249px 1257px rgba(184, 174, 131, 0.4), 1089px 940px rgba(184, 174, 131, 0.3),
    1218px 306px rgba(184, 174, 131, 0.5),
    1344px 1572px rgba(184, 174, 131, 0.2), 499px 526px rgba(184, 174, 131, 0.3),
    1239px 102px rgba(184, 174, 131, 0.6), 489px 471px rgba(184, 174, 131, 0.5),
    623px 1921px rgba(184, 174, 131, 0.2), 1394px 492px rgba(184, 174, 131, 0.2),
    275px 1809px rgba(184, 174, 131, 1), 1072px 819px rgba(184, 174, 131, 0.6),
    1881px 426px rgba(184, 174, 131, 0.1), 502px 1390px rgba(184, 174, 131, 0.8),
    1889px 349px rgba(184, 174, 131, 1), 351px 787px rgba(184, 174, 131, 0.7),
    693px 956px rgba(184, 174, 131, 0.1), 1061px 1437px rgba(184, 174, 131, 0.2),
    1463px 1316px rgba(184, 174, 131, 0.1), 916px 110px rgba(184, 174, 131, 0.3),
    98px 499px rgba(184, 174, 131, 0.8), 503px 1352px rgba(184, 174, 131, 0.6),
    1828px 679px rgba(184, 174, 131, 0.2), 258px 320px rgba(184, 174, 131, 0.4),
    288px 587px rgba(184, 174, 131, 0.5), 768px 1404px rgba(184, 174, 131, 0.9),
    1960px 1796px rgba(184, 174, 131, 0.6), 1646px 1417px rgba(184, 174, 131, 1),
    1841px 199px rgba(184, 174, 131, 0.6),
    1177px 1106px rgba(184, 174, 131, 0.9),
    1612px 1887px rgba(184, 174, 131, 0.3),
    1564px 1033px rgba(184, 174, 131, 0.9),
    1096px 1264px rgba(184, 174, 131, 0.4),
    281px 1862px rgba(184, 174, 131, 0.3), 831px 1211px rgba(184, 174, 131, 1),
    971px 946px rgba(184, 174, 131, 0.4), 235px 1777px rgba(184, 174, 131, 0.7),
    972px 1860px rgba(184, 174, 131, 0.6), 198px 1854px rgba(184, 174, 131, 0.7),
    970px 1106px rgba(184, 174, 131, 0.1), 305px 1812px rgba(184, 174, 131, 0.5),
    1406px 496px rgba(184, 174, 131, 0.4), 730px 827px rgba(184, 174, 131, 0.5),
    1114px 578px rgba(184, 174, 131, 0.8), 485px 1880px rgba(184, 174, 131, 0.8),
    875px 304px rgba(184, 174, 131, 0.7), 751px 988px rgba(184, 174, 131, 0.7),
    630px 987px rgba(184, 174, 131, 0.9), 1698px 869px rgba(184, 174, 131, 1),
    77px 1951px rgba(184, 174, 131, 0.5), 1307px 6px rgba(184, 174, 131, 0.3),
    1725px 1725px rgba(184, 174, 131, 0.2), 63px 1830px rgba(184, 174, 131, 0.7),
    1099px 1151px rgba(184, 174, 131, 0.3),
    1858px 944px rgba(184, 174, 131, 0.7), 445px 1073px rgba(184, 174, 131, 0.4),
    720px 1891px rgba(184, 174, 131, 0.1), 1127px 710px rgba(184, 174, 131, 0.4),
    1946px 1904px rgba(184, 174, 131, 0.2),
    957px 1197px rgba(184, 174, 131, 0.3),
    1866px 1234px rgba(184, 174, 131, 0.4),
    1335px 1274px rgba(184, 174, 131, 0.1),
    1510px 164px rgba(184, 174, 131, 0.4),
    1515px 1365px rgba(184, 174, 131, 0.8),
    1868px 117px rgba(184, 174, 131, 0.5), 1551px 325px rgba(184, 174, 131, 0.3),
    1402px 1854px rgba(184, 174, 131, 0.6),
    1061px 519px rgba(184, 174, 131, 0.8),
    1279px 1906px rgba(184, 174, 131, 0.3), 440px 918px rgba(184, 174, 131, 0.9),
    605px 877px rgba(184, 174, 131, 0.9), 1719px 610px rgba(184, 174, 131, 0.5),
    153px 1539px rgba(184, 174, 131, 0.1), 201px 1438px rgba(184, 174, 131, 0.9),
    179px 166px rgba(184, 174, 131, 0.4), 906px 1683px rgba(184, 174, 131, 0.8),
    593px 124px rgba(184, 174, 131, 0.3), 1904px 1113px rgba(184, 174, 131, 0.6),
    832px 1130px rgba(184, 174, 131, 0.5), 586px 1462px rgba(184, 174, 131, 0.7),
    1111px 479px rgba(184, 174, 131, 1), 1682px 1342px rgba(184, 174, 131, 1),
    176px 994px rgba(184, 174, 131, 0.2), 1395px 47px rgba(184, 174, 131, 0.8),
    414px 1491px rgba(184, 174, 131, 0.5), 1955px 462px rgba(184, 174, 131, 0.1),
    437px 1631px rgba(184, 174, 131, 0.3), 1853px 477px rgba(184, 174, 131, 0.8),
    953px 1662px rgba(184, 174, 131, 0.7), 1007px 420px rgba(184, 174, 131, 0.1),
    1988px 638px rgba(184, 174, 131, 0.9), 103px 16px rgba(184, 174, 131, 0.1),
    1844px 1417px rgba(184, 174, 131, 0.8),
    1922px 894px rgba(184, 174, 131, 0.1), 1281px 722px rgba(184, 174, 131, 0.9),
    861px 992px rgba(184, 174, 131, 0.6), 1842px 1783px rgba(184, 174, 131, 0.8),
    1729px 1327px rgba(184, 174, 131, 0.2),
    1991px 486px rgba(184, 174, 131, 0.3),
    1338px 1247px rgba(184, 174, 131, 0.1), 289px 314px rgba(184, 174, 131, 0.3),
    266px 1578px rgba(184, 174, 131, 0.5),
    1781px 1017px rgba(184, 174, 131, 0.1),
    1781px 1421px rgba(184, 174, 131, 0.5), 766px 144px rgba(184, 174, 131, 0.7),
    1090px 1847px rgba(184, 174, 131, 0.4),
    1206px 508px rgba(184, 174, 131, 0.5), 986px 327px rgba(184, 174, 131, 0.6),
    675px 1838px rgba(184, 174, 131, 0.4), 808px 1016px rgba(184, 174, 131, 0.7),
    1741px 883px rgba(184, 174, 131, 0.5),
    1691px 1854px rgba(184, 174, 131, 0.7), 586px 437px rgba(184, 174, 131, 0.6),
    435px 1914px rgba(184, 174, 131, 0.6), 761px 312px rgba(184, 174, 131, 0.8),
    1315px 544px rgba(184, 174, 131, 0.5), 323px 565px rgba(184, 174, 131, 0.3),
    1392px 918px rgba(184, 174, 131, 0.1), 1526px 563px rgba(184, 174, 131, 0.5),
    640px 41px rgba(184, 174, 131, 1), 94px 260px rgba(184, 174, 131, 0.9),
    1130px 87px rgba(184, 174, 131, 0.9), 1411px 481px rgba(184, 174, 131, 0.2),
    1835px 1949px rgba(184, 174, 131, 0.6), 258px 530px rgba(184, 174, 131, 0.4),
    1412px 1690px rgba(184, 174, 131, 0.8),
    1945px 1077px rgba(184, 174, 131, 0.4),
    1818px 780px rgba(184, 174, 131, 0.9), 1533px 717px rgba(184, 174, 131, 1),
    1591px 1803px rgba(184, 174, 131, 0.9),
    1692px 911px rgba(184, 174, 131, 0.8),
    1170px 1647px rgba(184, 174, 131, 0.2), 987px 192px rgba(184, 174, 131, 0.8),
    1576px 309px rgba(184, 174, 131, 0.8), 1323px 868px rgba(184, 174, 131, 0.1),
    1304px 90px rgba(184, 174, 131, 0.3), 1244px 483px rgba(184, 174, 131, 0.1),
    777px 805px rgba(184, 174, 131, 0.9), 1735px 1276px rgba(184, 174, 131, 0.7),
    1175px 1707px rgba(184, 174, 131, 0.7), 9px 1492px rgba(184, 174, 131, 0.1),
    56px 288px rgba(184, 174, 131, 0.4), 1565px 1712px rgba(184, 174, 131, 0.1),
    1867px 666px rgba(184, 174, 131, 0.8), 1638px 473px rgba(184, 174, 131, 0.4),
    1203px 97px rgba(184, 174, 131, 0.3), 22px 308px rgba(184, 174, 131, 0.8),
    496px 1878px rgba(184, 174, 131, 0.5), 284px 1670px rgba(184, 174, 131, 0.3),
    1027px 629px rgba(184, 174, 131, 0.2), 132px 114px rgba(184, 174, 131, 1),
    35px 1609px rgba(184, 174, 131, 0.9), 1508px 1077px rgba(184, 174, 131, 0.9),
    588px 1853px rgba(184, 174, 131, 0.2), 1758px 220px rgba(184, 174, 131, 0.6),
    771px 135px rgba(184, 174, 131, 1), 1427px 644px rgba(184, 174, 131, 0.1),
    1845px 576px rgba(184, 174, 131, 0.8), 149px 1847px rgba(184, 174, 131, 0.2),
    684px 170px rgba(184, 174, 131, 0.2);
  background: transparent;
  border-radius: 100%;
  animation: blink 3s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
